.caja{
    background-color: steelblue;
    color: white;
    font-size: 20px;
    font-family: Arial;
    width: 200px;
    height: 200px;

    /* padding: 30px; */
    padding-top:30px;
    padding-right:50px;
    padding-bottom:70px;
    padding-left:100px;

    /* padding: top right bottom left; */

    padding:30px;

   
    
    
    /* border-width:top right bottom left ; */
    border-width:15px;
    


    /* border-top-style:dotted;
    border-right-style: dashed;
    border-bottom-style: solid;
    border-left-style:double ; */

    /* border-style: top rigth bottom left; */

    border-style:dotted ;   ;

    /* 
    dotted
    dashed
    solid
    double
    groove
    ridge
     */


    /* border-top-color:crimson ;
    border-right-color: black;
    border-bottom-color: brown;
    border-left-color: purple; */

    /* border-color: top rigth bottom left; */

    border-color: crimson  ;

    /* border:color width style; */
    
    
}

.caja1{
    margin: 0 auto;
    display: block;
}

.main{
    background-color: steelblue;
    color: white;
    margin-bottom: 80px;
    /* margin-top: 40px; */
    padding: .1px;
}

.main-title{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    color: white;
    background-color: slateblue;
    margin-top: 50px;
}